{% extends 'base.html.twig' %}
 

{% block body %}
	<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px; margin-left: 25%;">
              <h1 class="card-title"> Ajouter un Batiment</h1>

              <!-- General Form Elements -->
              {{ form_start(formUN,{attr:{novalidate:'novalidate'}}) }}
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Nom Universite</label>
                  <div class="col-sm-5">
                    {# <input type="text" class="form-control"> #}
                    {{ form_widget(formUN.nomUniversite,{'attr':{'class':'form-control'}}) }}
                  </div>
                 </div>
                 <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Region Universite</label>
                  <div class="col-sm-5">
                    {# <input type="text" class="form-control"> #}
                    {{ form_widget(formUN.regionUniversite,{'attr':{'class':'form-control'}}) }}
                  </div>
                 </div>

                {# <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                     <button class="btn btn-primary " type="reset" style="background-color:red;">Cancel</button>
                  </div>
                </div> #}
                 <div class="col-12">
                      <button class="btn btn-primary " type="submit" onclick="/login"> Submit</button>
                </div></br>
                    <div class="col-12">
                      <button class="btn btn-primary " type="reset" style="background-color:red;">Cancel</button>
                    </div>
                </div>
              {{ form_end(formUN) }}<!-- End General Form Elements -->
            </div>
            {% block footer %}
            {% endblock %}
{% endblock %}